#header{
    background-color: rgb(231, 165, 179);
    padding: -10px;
    text-align: center;
    color: whitesmoke;
    font-family: Cursive;
    
}

body{
    background: url(fondogay.png);
}

#nav {
    text-align: left;
    color: whitesmoke;
    padding: 10px;
}

#content{
    width: 80%;
    float: left;
    color: whitesmoke;
    padding: 10px;
    font-size: medium;
    text-align: left;
    line-height: 30px;
    font-family: Cursive;
}

#footer{
background-color: rgb(252, 180, 236);
color: white;
clear: both; /* mueve los elementos debajo de otros elementos a ambos lados*/
text-align: center;
font-family: tahoma;
padding: 5px;
}

.imagen{
    width: 400px;
    height: 30x;
    float: right;
    padding: 5px;
    margin: 10px;
    border: 2px solid whitesmoke;
    border-radius:  35px;
    
}

img:hover{
    box-shadow: 0 0 40px whitesmoke;

}
    